.my_nav_bar{
    position:sticky;
    top:0;
    z-index: index 300;
}
#video{
    height:1000px;
    width:100%;
}
.movie_head i{
    float:right;
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}
.achievement_text span{
    color:orange;
}